@import url('https://fonts.googleapis.com/css?family=Niramit|Roboto');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
:root
{
    --fontsize:1rem;
    --footcolor:0deg;
    --footbgcolor:135deg;
    --mright:1rem;
    --mleft:1rem;
    --pright:1rem;
    --pleft:1rem;
}

*,
*::after,
*::before{
    padding: 0.5rem 0rem 0.5rem 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /*font-family: font stack required for body text */
}
h1, h2, h3, h4{
    /*font-family: font stack required for headings */
    font-family: serif sans-serif;
    margin-left: var(--mleft);
    margin-right: var(--mright);
    padding-left: var(--pleft);
    padding-right: var(--pright);
}
p{
    font-family: sans-serif,'Inconsolata';
}
.container{
        max-width: 1500px;
}

.subnav{
    margin-left: var(--mleft);
    margin-right: var(--mright);
    padding-left: var(--pleft);
    padding-right: var(--pright);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: hsl(135deg,100%,50%);
}
.subnav a{
    font-family: sans-serif;
    text-decoration: none;
    color: hsl(0deg,100%,50%);
}
.mainnav{
    margin-left:1.5rem;
    margin-right: 1.5rem;
    padding-left: var(--pleft);
    padding-right: var(--pright);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    border: 0.2rem solid hsl(0deg,100%,50%);
    background-color: hsl(0deg,100%,50%);
}
 @media(max-width:600px){
     .mainnav{
        border: 0.1rem solid hsl(220deg,100%,50%);
        font-display: auto;
        font-size:1.2rem;
        background-color: hsl(220deg,50%,50%);    
     }
     .mainnav a{
         color:hsl(0deg,100%,50%);
         font-family: sans-serif serif;
         text-decoration: none;
     } 
     .times-logo{
         width: 560px;
         height: 200px;
     }
    }
/*
@media(max-width:600px)
{
    .mainnav a:nth-child(3){
        justify-content: flex-start;
        align-items: flex-start;
    }
}
*/
@media(max-width:200px) and (min-width:599px)
{
    .times-logo{
        width: 600px;
        height: 200px;
    }
}
.mainnav a{
    font-family: serif;
}

.masthead{
            font-family: sans-serif;    
          }


.times-logo{
    height: 300px;
}
@media(max-width:600px)
{
   .masthead h1{
                    color: hsl(220deg,100%,50%);
            } 
}

.content{
            margin-right: var(--mright);
            margin-left: var(--mleft);
            padding-left: var(--pleft);
            padding-right: var(--pright);

}
.content .story{
                
}
.story.lead-story{
                    
}
.lead-story{
            margin-right: 2rem;
            margin-left: var(--mleft);
            padding-left: var(--pleft);
            padding-right: var(--pright);
}
h1.story-title{
    margin-right:var(--mright);
    margin-left: var(--mleft);
    padding-left: var(--pleft);
    padding-right: var(--pright);
}
.lead-story .story-title
{   
    margin-left: 0rem;
    font-size: 3rem;
    color: hsl(0deg,100%,0%);
}
 @media(max-width:1000px)
 {
     .story-img{
         float:left;
    width: 150px;
    height: 150px;
    border-bottom-style: hidden;
     }
 }

.story p{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.story blockquote{
    quotes: "\201E" "\201D";
    margin-right: var(--mright);
    margin-left: var(--mleft);
    padding-left: var(--pleft);
    padding-right: var(--pright);
}
 blockquote::first-letter{
    font-size: 2rem;
}

.story blockquote::before{

    font-family: sans-serif;
    content: open-quote;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
.story blockquote::after{
    content: close-quote;
    margin-right: var(--mright);
    margin-left: var(--mleft);
    padding-left: var(--pleft);
    padding-right: var(--pright);
}
.story p.byline{
     font-family: sans-serif;
}
p.byline span.author{
     font-family: sans-serif;
}
p.byline span.pub{
     font-family: sans-serif;
}
p::first-letter{
    font-size: 1.5rem;
    color: hsl(0deg,100%,50%);
}
.foot{
    margin-left: var(--mleft);
    margin-right: var(--mright);
    padding-left: var(--pleft);
    padding-right: var(--pright);
    background-color: hsl(var(--footbgcolor),100%,50%);
}
.foot p{
       font-size: 1.5rem; 
       font-family: sans-serif;
        color: hsl(var(--footcolor),100%,50%);
}